/* Color variables */

:root {
	/* Accent */
	--accent: #2196f3;
	--accent-darker: #188ce8;
	--contrast: #fff;

	/* Text */
	--dark-gray-text: #212121;
	--light-gray-text: #757575;

	/* Background */
	--light-bg: #fff;
	--mid-bg: #f5f4fa;
	--dark-bg: #2f303a;

	/* Borders */
	--header-border: #ececec;
	--project-border: #eeeeee;
}

/* Utility classes */

.dark-bg {
	background-color: var(--dark-bg);
}

.mid-bg {
	background-color: var(--mid-bg);
}

/* For testing */

.frame {
	outline: 1px solid beige;
}