/* Color variables */

:root {
	--accent-blue: #2196f3;
	--dark-gray-text: #212121;
	--light-gray-text: #757575;
	--light-bg: #f5f4fa;
	--dark-bg: #2f303a;
	--header-border: #ececec;
	--project-border: #eeeeee;
}

/* Colors */