/* Flex */

.flex {
	display: flex;

	&.column {
		flex-direction: column;
	}

	&.space-between {
		justify-content: space-between;
	}

	&.space-around {
		justify-content: space-around;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-end {
		justify-content: end;
	}

	&.align-center {
		align-items: center;
	}

	&.align-end {
		align-items: end;
	}

	&.wrap {
		flex-wrap: wrap;
	}
}

/* Gap values */

.flex {
	--standard-gap: 30px;
	--regular-spacing: 20px;
	--large-spacing: 44px;
	--list-spacing: 10px;
	--header-items-gap: 50px;

	&.standard-gap {
		gap: var(--standard-gap);
	}

	&.regular-spacing {
		gap: var(--regular-spacing);
	}

	&.large-spacing {
		gap: var(--large-spacing);
	}

	&.header-nav,
	&.header-contacts {
		gap: var(--header-items-gap);
	}

	.header &.container {
		gap: 93px;
	}
}

/* End of Flex */