/* FOOTER */

.footer {
	background: var(--dark-bg);
	color: #fff;
	text-align: left;
	padding: 60px 215px 57px;
}

.footer address {
	margin-top: 20px;
	font-style: normal;
	line-height: 1.71;
}

/* Footer links */

.footer .link {
	color: rgba(255, 255, 255, 0.6);
}