/* CSS Normalize */

:root {
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;

	-moz-tab-size: 4;
	tab-size: 4;

	text-rendering: optimizeLegibility;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	cursor: pointer;
	font-family: inherit;
	text-align: center;
}

:focus {
	outline: none;
}

.visually-hidden {
	position: absolute;
	z-index: -1;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	border: none;
	overflow: hidden;
}

/* Remove markers in markup ul's: */

.markup-list {
	list-style: none;
}