/* Utility classes */

/* For colors */

.dark-bg {
	background-color: var(--dark-bg);
}

.mid-bg {
	background-color: var(--mid-bg);
}

/* For letter case */

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

/* For flex-boxes */

.flex {
	display: flex;

	&.column {
		flex-direction: column;
	}

	&.space-between {
		justify-content: space-between;
	}

	&.space-around {
		justify-content: space-around;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-end {
		justify-content: end;
	}

	&.align-center {
		align-items: center;
	}

	&.align-end {
		align-items: end;
	}

	&.wrap {
		flex-wrap: wrap;
	}
}

.flex {
	gap: var(--standard-gap);
}

.regular-spacing {
	gap: var(--regular-spacing);
}

.large-spacing {
	gap: var(--large-spacing);
}

/* For testing */

.outline {
	outline: auto;
}

.frame {
	outline: 1px solid beige;
}