/* Color variables */

:root {
	/* Accent */
	--accent: #2196f3;
	--accent-darker: #188ce8;
	--contrast: #fff;

	/* Text */
	--dark-gray-text: #212121;
	--light-gray-text: #757575;

	/* Background */
	--light-bg: #fff;
	--mid-bg: #f5f4fa;
	--gray-bg: #C4C4C4;
	--dark-bg: #2f303a;

	/* Borders */
	--header-border: #ececec;
	--project-border: #eeeeee;
}

/* Variables for flex-basis calculation */

:root {
	--items-per-row: 3;
	--spacing: var(--regular-gap);
	--number-of-gaps: var(--items-per-row) - 1;
}

/* Flex gap values */

.flex {
	--regular-gap: 30px;
	--regular-spacing: 20px;
	--large-spacing: 44px;
	--list-spacing: 10px;
	--header-items-spacing: 50px;

	&.regular-gap {
		gap: var(--regular-gap);
	}

	&.regular-spacing {
		gap: var(--regular-spacing);
	}

	&.large-spacing {
		gap: var(--large-spacing);
	}

	&.header-nav,
	&.header-contacts {
		gap: var(--header-items-spacing);
	}
}