/* My CSS Normalize */
:root {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  text-rendering: optimizeLegibility;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* My defaults */
html {
  scroll-behavior: smooth;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

address {
  font-style: normal;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

/* Variables */
.flex.regular-gap, .regular-gap.subscribe-form-button, .regular-gap.header-social-links-list, .regular-gap.contact-list, .regular-gap.nav-list, .header .regular-gap.container, .regular-gap.social-links-list, .regular-gap.client-list, .regular-gap.team-cards-list, .regular-gap.activity-list, .regular-gap.feature-list {
  gap: 30px;
}
.flex.regular-spacing, .regular-spacing.subscribe-form-button, .regular-spacing.header-social-links-list, .regular-spacing.contact-list, .regular-spacing.nav-list, .header .regular-spacing.container, .regular-spacing.social-links-list, .regular-spacing.client-list, .regular-spacing.team-cards-list, .regular-spacing.activity-list, .regular-spacing.feature-list {
  gap: 20px;
}
.flex.large-spacing, .large-spacing.subscribe-form-button, .large-spacing.header-social-links-list, .large-spacing.contact-list, .large-spacing.nav-list, .header .large-spacing.container, .large-spacing.social-links-list, .large-spacing.client-list, .large-spacing.team-cards-list, .large-spacing.activity-list, .large-spacing.feature-list {
  gap: 44px;
}
.flex.spaced-list, .subscribe-form-button, .spaced-list.header-social-links-list, .spaced-list.contact-list, .spaced-list.nav-list, .header .spaced-list.container, .header .container.subscribe-form-button, .social-links-list, .spaced-list.client-list, .spaced-list.team-cards-list, .spaced-list.activity-list, .spaced-list.feature-list {
  gap: 10px;
}

.header-nav,
.header-contacts {
  gap: 50px;
}

/* Utility classes */
.markup-list, .address-list, .text-field-group, .header-social-links-list, .contact-list, .nav-list, .social-links-list, .client-list, .team-cards-list, .activity-list, .feature-list {
  list-style: none;
}

.flex, .subscribe-form-button, .header-social-links-list, .contact-list, .nav-list, .header .container, .social-links-list, .client-list, .team-cards-list, .activity-list, .feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex.column, .column.subscribe-form-button, .column.header-social-links-list, .column.contact-list, .column.nav-list, .header .column.container, .column.social-links-list, .column.client-list, .column.team-cards-list, .column.activity-list, .column.feature-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex.space-between, .space-between.subscribe-form-button, .space-between.header-social-links-list, .space-between.contact-list, .space-between.nav-list, .header .space-between.container, .space-between.social-links-list, .space-between.client-list, .space-between.team-cards-list, .activity-list, .space-between.feature-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex.space-around, .space-around.subscribe-form-button, .space-around.header-social-links-list, .space-around.contact-list, .space-around.nav-list, .header .space-around.container, .space-around.social-links-list, .space-around.client-list, .space-around.team-cards-list, .space-around.activity-list, .space-around.feature-list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.flex.justify-center, .justify-center.subscribe-form-button, .justify-center.header-social-links-list, .justify-center.contact-list, .justify-center.nav-list, .header .justify-center.container, .social-links-list, .justify-center.client-list, .justify-center.team-cards-list, .justify-center.activity-list, .justify-center.feature-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex.justify-end, .justify-end.subscribe-form-button, .justify-end.header-social-links-list, .justify-end.contact-list, .justify-end.nav-list, .header .justify-end.container, .justify-end.social-links-list, .justify-end.client-list, .justify-end.team-cards-list, .justify-end.activity-list, .justify-end.feature-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.flex.align-center, .subscribe-form-button, .align-center.header-social-links-list, .align-center.contact-list, .align-center.nav-list, .header .container, .align-center.social-links-list, .align-center.client-list, .align-center.team-cards-list, .align-center.activity-list, .align-center.feature-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex.align-end, .align-end.subscribe-form-button, .align-end.header-social-links-list, .align-end.contact-list, .align-end.nav-list, .header .align-end.container, .align-end.social-links-list, .align-end.client-list, .align-end.team-cards-list, .align-end.activity-list, .align-end.feature-list {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.flex.align-baseline, .align-baseline.subscribe-form-button, .align-baseline.header-social-links-list, .align-baseline.contact-list, .align-baseline.nav-list, .header .align-baseline.container, .align-baseline.social-links-list, .align-baseline.client-list, .align-baseline.team-cards-list, .align-baseline.activity-list, .align-baseline.feature-list {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.flex.wrap, .wrap.subscribe-form-button, .header-social-links-list, .wrap.contact-list, .wrap.nav-list, .header .wrap.container, .header .container.header-social-links-list, .wrap.social-links-list, .wrap.client-list, .team-cards-list, .wrap.activity-list, .feature-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex.regular-gap, .regular-gap.subscribe-form-button, .regular-gap.header-social-links-list, .regular-gap.contact-list, .regular-gap.nav-list, .header .regular-gap.container, .regular-gap.social-links-list, .regular-gap.client-list, .regular-gap.team-cards-list, .regular-gap.activity-list, .regular-gap.feature-list {
  gap: 30px;
}
.flex.regular-spacing, .regular-spacing.subscribe-form-button, .regular-spacing.header-social-links-list, .regular-spacing.contact-list, .regular-spacing.nav-list, .header .regular-spacing.container, .regular-spacing.social-links-list, .regular-spacing.client-list, .regular-spacing.team-cards-list, .regular-spacing.activity-list, .regular-spacing.feature-list {
  gap: 20px;
}
.flex.large-spacing, .large-spacing.subscribe-form-button, .large-spacing.header-social-links-list, .large-spacing.contact-list, .large-spacing.nav-list, .header .large-spacing.container, .large-spacing.social-links-list, .large-spacing.client-list, .large-spacing.team-cards-list, .large-spacing.activity-list, .large-spacing.feature-list {
  gap: 44px;
}

.flex-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.underlined {
  text-decoration: underline;
}

.outline {
  outline: auto;
}

.frame {
  outline: 1px solid steelblue;
}

.black {
  color: black;
}

.white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.close-button, .accept-terms-wrapper, .social-link, .client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .join-us-block-wrapper {
    margin-bottom: 30px;
  }
}

/* Common properties */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
  min-width: 280px;
}
body.scroll-locked {
  overflow: hidden;
}

.page {
  text-align: center;
}

.container, .footer .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container, .footer .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container, .footer .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container, .footer .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section, .clients, .team, .what-we-do, .features {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section, .clients, .team, .what-we-do, .features {
    padding: 94px 0;
  }
}

.section-heading {
  font-weight: 700;
}
@media screen and (max-width: 1199px) {
  .section-heading {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.caption, .team-card-meta {
  padding: 30px 0;
  font-size: 16px;
}
.caption p, .team-card-meta p {
  color: #757575;
}

/* Page STUDIO */
/* Hero section */
.hero {
  color: #fff;
}
@media screen and (max-width: 1199px) {
  .hero .container {
    padding: 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    padding: 200px 0;
  }
}

.hero-overlay {
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/webp/hero/header-bg-small.webp");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/webp/hero/header-bg-small.webp");
}
@media screen and (min-width: 1200px) {
  .hero-overlay {
    min-height: 600px;
    max-width: 1600px;
  }
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/webp/hero/header-bg-small@2x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/webp/hero/header-bg-small@2x.webp");
  }
}
@media screen and (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/webp/hero/header-bg-small@3x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/webp/hero/header-bg-small@3x.webp");
  }
}
@media screen and (min-width: 481px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/webp/hero/header-bg-medium.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/webp/hero/header-bg-medium.webp");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/webp/hero/header-bg-medium@2x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/webp/hero/header-bg-medium@2x.webp");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 3), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 481px) and (min-resolution: 288dpi), screen and (min-width: 481px) and (min-resolution: 3dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/webp/hero/header-bg-medium@3x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/webp/hero/header-bg-medium@3x.webp");
  }
}
@media screen and (min-width: 769px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/webp/hero/header-bg-large.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/webp/hero/header-bg-large.webp");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/webp/hero/header-bg-large@2x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/webp/hero/header-bg-large@2x.webp");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 3), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 769px) and (min-resolution: 288dpi), screen and (min-width: 769px) and (min-resolution: 3dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/webp/hero/header-bg-large@3x.webp");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/webp/hero/header-bg-large@3x.webp");
  }
}

.hero-heading {
  font-family: "Roboto";
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .hero-heading {
    font-size: 26px;
    line-height: 1.6153846154;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-heading {
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 700px;
  }
}

.hero-button {
  padding: 10px 32px;
}

/* Features section */
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.feature-list {
  gap: 30px;
}

.feature {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .feature {
    -ms-flex-preferred-size: calc((100% - 0px) / 1);
        flex-basis: calc((100% - 0px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .feature {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.feature-icon-wrapper {
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-name {
  font-size: inherit;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .feature-name {
    text-align: center;
  }
}

.feature-description {
  line-height: 1.7142857143;
  color: #757575;
}

/* What We Do section */
.what-we-do {
  display: none;
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.activity {
  position: relative;
}

.activity-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Out Team section */
.team {
  background: #f5f4fa;
}

.team-cards-list {
  gap: 30px;
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .team-card {
    -ms-flex-preferred-size: calc((100% - 0px) / 1);
        flex-basis: calc((100% - 0px) / 1);
  }
}
@media screen and (min-width: 768px) {
  .team-card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team-member-name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.team-member-role {
  margin-bottom: 16px;
}

/* Regular Clients section */
@media screen and (min-width: 768px) {
  .clients .section-heading {
    margin-bottom: 44px;
  }
}

.client-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .client-list-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .client-list-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list-item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.client-link {
  height: 92px;
  width: 100%;
  color: #afb1b8;
  border: 1px solid currentColor;
  border-radius: 4px;
}
.client-link:hover, .client-link:focus {
  color: #2196f3;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* Links */
.link, .address-link, .header-social-link, .nav-link,
.contact-link, .social-link, .footer-logo, .header-logo, .client-link {
  text-decoration: none;
  font-weight: 500;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.link:hover, .address-link:hover, .header-social-link:hover, .nav-link:hover,
.contact-link:hover, .social-link:hover, .footer-logo:hover, .header-logo:hover, .client-link:hover, .link:focus, .address-link:focus, .header-social-link:focus, .nav-link:focus,
.contact-link:focus, .social-link:focus, .footer-logo:focus, .header-logo:focus, .client-link:focus, .link.current, .current.address-link, .current.header-social-link, .current.nav-link,
.current.contact-link, .current.social-link, .current.footer-logo, .current.header-logo, .current.client-link {
  color: #2196f3;
}

/* Logos */
.footer-logo, .header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  display: block;
  color: #2196f3;
}

/* Buttons */
.button, .accented-button, .subscribe-form-button, .modal-form-button, .hero-button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.accented-button, .subscribe-form-button, .modal-form-button, .hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.accented-button:hover, .subscribe-form-button:hover, .modal-form-button:hover, .hero-button:hover, .accented-button:focus, .subscribe-form-button:focus, .modal-form-button:focus, .hero-button:focus {
  background-color: #188ce8;
}

/* SVG icons */
.icon, .subscribe-button-icon, .close-button-icon, .text-field-icon, .contact-link .contact-icon, .social-icon, .client-icon {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.rotatable, .social-icon {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 10ms;
          transition-delay: 10ms;
}
.icon-transformable:hover .rotatable, .icon-transformable:hover .social-icon, .social-link:hover .rotatable, .social-link:hover .social-icon, .icon-transformable:focus .rotatable, .icon-transformable:focus .social-icon, .social-link:focus .rotatable, .social-link:focus .social-icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* Social media links (icons styled separately) */
.social-link {
  color: #afb1b8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-link {
  background: rgba(255, 255, 255, 0.1);
}
.social-link:hover, .social-link:focus {
  color: #fff;
  background-color: #2196f3;
}

.footer .social-icon {
  fill: #fff;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
}
@media screen and (max-width: 767px) {
  .header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-logo span {
  color: #000;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
}

.header-menu-button {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .header-menu-button {
    display: none;
  }
}
.header-menu-button.is-open {
  position: relative;
  z-index: 3;
}
.header-menu-button.is-open .icon-menu-close {
  opacity: 1;
  -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}
.header-menu-button.is-open .icon-menu-burger {
  opacity: 0;
}

.header-menu-icon {
  display: block;
  fill: currentColor;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.header-menu-icon .icon-menu-burger {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-icon .icon-menu-close {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-property: opacity, fill, -webkit-transform;
  transition-property: opacity, fill, -webkit-transform;
  transition-property: opacity, transform, fill;
  transition-property: opacity, transform, fill, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-button:hover .header-menu-icon .icon-menu-close {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-menu-wrapper {
    position: fixed;
    top: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .header-menu-wrapper {
    padding: 48px 20px;
  }
}
@media screen and (max-width: 767px) {
  .header-menu-wrapper.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
  }
}
@media screen and (min-width: 768px) {
  .header-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.nav-link,
.contact-link {
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .nav-link,
.contact-link {
    display: inline-block;
    padding: 32px 0;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
  .nav-list .nav-list-item {
    font-size: 40px;
    line-height: 1.175;
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    gap: 50px;
  }
}

.nav-link {
  color: #212121;
}
@media screen and (min-width: 768px) {
  .nav-link {
    display: inline-block;
    padding: 32px 0;
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (max-width: 1199px) {
  .contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .contact-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 32px;
    margin-top: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list {
    font-size: 12px;
  }
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .contact-list-item:first-child .contact-link {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media screen and (max-width: 337px) {
  .contact-list-item:nth-child(2) .contact-link {
    font-size: 30px;
    line-height: auto;
  }
}
@media screen and (min-width: 338px) and (max-width: 767px) {
  .contact-list-item:nth-child(2) .contact-link {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}
@media screen and (max-width: 767px) {
  .contact-list-item:nth-child(2) .contact-link {
    color: #2196f3;
  }
}
@media screen and (max-width: 767px) {
  .contact-link .contact-icon {
    display: none;
  }
}

/* Social media links (text, mobile menu only) */
.header-social-links-list {
  gap: 0.625em;
}
@media screen and (min-width: 768px) {
  .header-social-links-list {
    display: none;
  }
}

.header-social-links-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-social-links-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 0.625em;
}

.header-social-link {
  color: #2196f3;
  font-size: 18px;
  line-height: 1.2222222222;
}
@media screen and (max-width: 345px) {
  .header-social-link {
    font-size: 14px;
    line-height: auto;
  }
}
@media screen and (min-width: 346px) and (max-width: 360px) {
  .header-social-link {
    font-size: 15px;
    line-height: auto;
  }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
  .header-social-link {
    font-size: 16px;
    line-height: auto;
  }
}
@media screen and (min-width: 376px) and (max-width: 410px) {
  .header-social-link {
    font-size: 17px;
    line-height: auto;
  }
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: not-allowed;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
@media screen and (max-width: 480px) {
  .backdrop {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding-top: 11vh;
  }
}

.modal-window {
  background-color: #fff;
  cursor: auto;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
@media screen and (max-width: 320px) {
  .modal-window {
    padding: 12vw;
  }
}
@media screen and (max-width: 767px) {
  .modal-window {
    position: static;
    margin: 0 auto;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    z-index: 3;
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}
.modal-window .backdrop.is-hidden {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal-form-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

/* Text field group */
.text-field-group {
  margin-bottom: 20px;
  text-align: left;
}

.text-field-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.text-field-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.text-field-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.text-field-wrapper {
  position: relative;
}

.text-field {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
  outline-color: rgba(33, 150, 243, 0.6);
  outline-offset: 2px;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.text-field.comment-field {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
}
.text-field.comment-field::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-field.comment-field::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-field.comment-field:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-field.comment-field::-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-field.comment-field::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.text-field:hover, .text-field:focus {
  border-color: #2196f3;
}
.text-field:hover + .text-field-icon, .text-field:focus + .text-field-icon {
  fill: #2196f3;
}

.text-field-icon {
  position: absolute;
  top: 11px;
  left: 12px;
}

.accept-terms-wrapper {
  margin-bottom: 30px;
  gap: 8px;
}
@media screen and (max-width: 320px) {
  .accept-terms-wrapper {
    gap: 5px;
  }
}
@media screen and (max-width: 479px) {
  .accept-terms-wrapper {
    gap: 15px;
  }
}

.accept-terms-label {
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 12px;
  line-height: 1.1666666667;
}
@media screen and (max-width: 479px) {
  .accept-terms-label {
    max-width: 180px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .accept-terms-label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.accept-terms-link {
  color: #2196f3;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  outline-color: rgba(33, 149, 243, 0.4235294118);
}

.accept-terms-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.accept-terms-checkbox:focus, .accept-terms-checkbox:hover {
  outline: 2px solid rgba(33, 150, 243, 0.6);
  outline-offset: 1px;
}
.accept-terms-checkbox:checked {
  border-color: transparent;
  background-origin: border-box;
  background-color: #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.796 7.172-3.3 3.146-.188-.18a278.251 278.251 0 0 0-2.411-2.291c-.017-.007-.864.782-.878.817-.006.017 2.977 2.88 3.357 3.223l.126.114 3.748-3.576 3.748-3.576-.326-.313c-.368-.355-.538-.509-.56-.509-.008 0-1.5 1.415-3.316 3.145' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
}
@media screen and (max-width: 479px) {
  .accept-terms-checkbox {
    margin-left: 10px;
  }
}

.modal-form-button {
  padding: 10px 52px;
}
@media screen and (max-width: 320px) {
  .modal-form-button {
    padding: 2vw 13vw;
  }
}

.close-button {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.close-button:hover, .close-button:focus {
  color: #2196f3;
}

.close-button-icon {
  display: block;
}

/* Footer */
.footer {
  color: #fff;
  background-color: #2f303a;
  padding: 60px 0;
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    gap: 70px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-logo span {
  color: #fff;
}

.address-list-item {
  min-width: 231px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  font-weight: 400;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.footer-heading {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .subscribe-block-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-block-wrapper {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-block-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.subscribe-form-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1199px) {
  .subscribe-form-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.subscribe-form-input {
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: 2px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: currentColor;
  padding: 15px 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.subscribe-form-input:hover, .subscribe-form-input:focus, .subscribe-form-input:active {
  border-color: #2196f3;
}
.subscribe-form-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-button {
  padding: 10px 28px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .subscribe-form-button {
    -ms-flex-item-align: center;
        align-self: center;
  }
}/*# sourceMappingURL=main.css.map */