/* My CSS Normalize */
:root {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* My defaults */
html {
  scroll-behavior: smooth;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

address {
  font-style: normal;
}

img {
  display: block;
}

/* Variables */
.flex.regular-gap, .subscribe-form .regular-gap.footer-submit-button, .footer .regular-gap.container, .regular-gap.header-contacts, .regular-gap.header-nav, .header .regular-gap.container, .regular-gap.social-links, .regular-gap.clients-list, .regular-gap.team-cards-list, .regular-gap.activities-list, .regular-gap.features-list {
  gap: 30px;
}
.flex.regular-spacing, .subscribe-form .regular-spacing.footer-submit-button, .footer .regular-spacing.container, .regular-spacing.header-contacts, .regular-spacing.header-nav, .header .regular-spacing.container, .regular-spacing.social-links, .regular-spacing.clients-list, .regular-spacing.team-cards-list, .regular-spacing.activities-list, .regular-spacing.features-list {
  gap: 20px;
}
.flex.large-spacing, .subscribe-form .large-spacing.footer-submit-button, .footer .large-spacing.container, .large-spacing.header-contacts, .large-spacing.header-nav, .header .large-spacing.container, .large-spacing.social-links, .large-spacing.clients-list, .large-spacing.team-cards-list, .large-spacing.activities-list, .large-spacing.features-list {
  gap: 44px;
}
.flex.spaced-list, .subscribe-form .footer-submit-button, .footer .spaced-list.container, .spaced-list.header-contacts, .spaced-list.header-nav, .header .spaced-list.container, .social-links, .spaced-list.clients-list, .spaced-list.team-cards-list, .spaced-list.activities-list, .spaced-list.features-list {
  gap: 10px;
}

.header-nav,
.header-contacts {
  gap: 50px;
}

/* Utility classes */
.markup-list, .footer-address-list, .modal-form .text-field-group, .header-contacts, .header-nav, .social-links, .clients-list, .team-cards-list, .activities-list, .features-list {
  list-style: none;
}

.flex, .subscribe-form .footer-submit-button, .footer .container, .header-contacts, .header-nav, .header .container, .social-links, .clients-list, .team-cards-list, .activities-list, .features-list {
  display: flex;
}
.flex.column, .subscribe-form .column.footer-submit-button, .footer .column.container, .column.header-contacts, .column.header-nav, .header .column.container, .column.social-links, .column.clients-list, .column.team-cards-list, .column.activities-list, .column.features-list {
  flex-direction: column;
}
.flex.space-between, .subscribe-form .space-between.footer-submit-button, .footer .space-between.container, .space-between.header-contacts, .space-between.header-nav, .header .space-between.container, .space-between.social-links, .clients-list, .team-cards-list, .activities-list, .features-list {
  justify-content: space-between;
}
.flex.space-around, .subscribe-form .space-around.footer-submit-button, .footer .space-around.container, .space-around.header-contacts, .space-around.header-nav, .header .space-around.container, .space-around.social-links, .space-around.clients-list, .space-around.team-cards-list, .space-around.activities-list, .space-around.features-list {
  justify-content: space-around;
}
.flex.justify-center, .subscribe-form .justify-center.footer-submit-button, .footer .justify-center.container, .justify-center.header-contacts, .justify-center.header-nav, .header .justify-center.container, .social-links, .justify-center.clients-list, .justify-center.team-cards-list, .justify-center.activities-list, .justify-center.features-list {
  justify-content: center;
}
.flex.justify-end, .subscribe-form .justify-end.footer-submit-button, .footer .justify-end.container, .justify-end.header-contacts, .justify-end.header-nav, .header .justify-end.container, .justify-end.social-links, .justify-end.clients-list, .justify-end.team-cards-list, .justify-end.activities-list, .justify-end.features-list {
  justify-content: end;
}
.flex.align-center, .subscribe-form .footer-submit-button, .footer .align-center.container, .align-center.header-contacts, .align-center.header-nav, .header .container, .align-center.social-links, .align-center.clients-list, .align-center.team-cards-list, .align-center.activities-list, .align-center.features-list {
  align-items: center;
}
.flex.align-end, .subscribe-form .align-end.footer-submit-button, .footer .align-end.container, .align-end.header-contacts, .align-end.header-nav, .header .align-end.container, .align-end.social-links, .align-end.clients-list, .align-end.team-cards-list, .align-end.activities-list, .align-end.features-list {
  align-items: end;
}
.flex.align-baseline, .subscribe-form .align-baseline.footer-submit-button, .footer .align-baseline.container, .align-baseline.header-contacts, .align-baseline.header-nav, .header .align-baseline.container, .align-baseline.social-links, .align-baseline.clients-list, .align-baseline.team-cards-list, .align-baseline.activities-list, .align-baseline.features-list {
  align-items: baseline;
}
.flex.wrap, .subscribe-form .wrap.footer-submit-button, .footer .wrap.container, .wrap.header-contacts, .wrap.header-nav, .header .wrap.container, .wrap.social-links, .wrap.clients-list, .wrap.team-cards-list, .wrap.activities-list, .wrap.features-list {
  flex-wrap: wrap;
}
.flex.regular-gap, .subscribe-form .regular-gap.footer-submit-button, .footer .regular-gap.container, .regular-gap.header-contacts, .regular-gap.header-nav, .header .regular-gap.container, .regular-gap.social-links, .regular-gap.clients-list, .regular-gap.team-cards-list, .regular-gap.activities-list, .regular-gap.features-list {
  gap: 30px;
}
.flex.regular-spacing, .subscribe-form .regular-spacing.footer-submit-button, .footer .regular-spacing.container, .regular-spacing.header-contacts, .regular-spacing.header-nav, .header .regular-spacing.container, .regular-spacing.social-links, .regular-spacing.clients-list, .regular-spacing.team-cards-list, .regular-spacing.activities-list, .regular-spacing.features-list {
  gap: 20px;
}
.flex.large-spacing, .subscribe-form .large-spacing.footer-submit-button, .footer .large-spacing.container, .large-spacing.header-contacts, .large-spacing.header-nav, .header .large-spacing.container, .large-spacing.social-links, .large-spacing.clients-list, .large-spacing.team-cards-list, .large-spacing.activities-list, .large-spacing.features-list {
  gap: 44px;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.underlined {
  text-decoration: underline;
}

.outline {
  outline: auto;
}

.frame {
  outline: 1px solid steelblue;
}

.black {
  color: black;
}

.white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.accept-terms-label .modal-close-button, .social-link, .client-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Common properties */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
}

.container, .footer .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page {
  text-align: center;
}

/* Sections other than hero */
.section, .clients, .team, .what-we-do, .features {
  padding: 94px 0;
}
.section h2, .clients h2, .team h2, .what-we-do h2, .features h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

/* Card captions */
.caption {
  padding: 30px 0;
  font-size: 16px;
}
.caption p {
  color: #757575;
}

/* Page STUDIO */
/* Hero section */
.hero {
  text-align: center;
  color: #fff;
}
.hero .container {
  padding: 200px 0;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero-button {
  padding: 10px 32px;
}

/* Features section */
.features {
  padding-bottom: 0;
}

.feature {
  text-align: left;
  flex-basis: 270px;
}
.feature h3 {
  font-size: inherit;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature p {
  line-height: 1.7142857143;
  color: #757575;
}

.feature-icon-wrapper {
  display: flex;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/* What We Do section */
.activity-wrapper {
  position: relative;
}

.activity-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Out Team section */
.team {
  background: #f5f4fa;
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-card h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.team-card p {
  margin-bottom: 16px;
}

/* Regular Clients section */
.clients-list h2 {
  margin-bottom: 44px;
}

.client-link {
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid currentColor;
  border-radius: 4px;
}
.client-link:hover, .client-link:focus {
  color: #2196f3;
}

/* Links */
.link, .social-link, .footer-logo, .header-logo, .client-link {
  text-decoration: none;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.header-nav .link, .header-nav .social-link, .header-nav .footer-logo, .header-nav .header-logo, .header-nav .client-link {
  color: #212121;
}
.contact .link, .contact .social-link, .contact .footer-logo, .contact .header-logo, .contact .client-link {
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .link:not(.footer-logo):not(.header-logo), .footer .social-link:not(.footer-logo):not(.header-logo), .footer .footer-logo:not(.footer-logo):not(.header-logo), .footer .header-logo:not(.footer-logo):not(.header-logo), .footer .client-link:not(.footer-logo):not(.header-logo) {
  color: rgba(255, 255, 255, 0.6);
}
.link:hover, .social-link:hover, .footer-logo:hover, .header-logo:hover, .client-link:hover, .link:focus, .social-link:focus, .footer-logo:focus, .header-logo:focus, .client-link:focus, .link.current, .current.social-link, .current.footer-logo, .current.header-logo, .current.client-link {
  color: #2196f3;
}

/* Logos */
.footer-logo, .header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  display: block;
  color: #2196f3;
}

.header-logo span {
  color: #000;
}

.footer-logo span {
  color: #fff;
}

/* SVG icons */
.icon, .modal-form .text-field-icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.footer .social-link .icon, .footer .social-link .modal-form .text-field-icon, .modal-form .footer .social-link .text-field-icon {
  fill: #fff;
}

.rotatable {
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 10ms;
}
.icon-transformable:hover .rotatable, .social-link:hover .rotatable, .icon-transformable:focus .rotatable, .social-link:focus .rotatable {
  transform: rotate(360deg);
}

/* Buttons */
.button, .accented-button, .subscribe-form .footer-submit-button, .accept-terms-label .modal-submit-button, .hero-button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.accented-button, .subscribe-form .footer-submit-button, .accept-terms-label .modal-submit-button, .hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.accented-button:hover, .subscribe-form .footer-submit-button:hover, .accept-terms-label .modal-submit-button:hover, .hero-button:hover, .accented-button:focus, .subscribe-form .footer-submit-button:focus, .accept-terms-label .modal-submit-button:focus, .hero-button:focus {
  background-color: #188ce8;
}

/* Social media links */
/* (icons styled separately) */
.social-link {
  color: #AFB1B8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-link {
  background: rgba(255, 255, 255, 0.1);
}
.social-link:hover, .social-link:focus {
  color: #fff;
  background-color: #2196f3;
}

/* Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header-logo {
  margin-right: 93px;
}
.header-contacts {
  margin-left: auto;
}

.header-nav .link, .header-nav .client-link, .header-nav .header-logo, .header-nav .footer-logo, .header-nav .social-link, .header-contacts .link, .header-contacts .client-link, .header-contacts .header-logo, .header-contacts .footer-logo, .header-contacts .social-link {
  padding: 32px 0;
  letter-spacing: 0.02em;
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(1px);
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  cursor: not-allowed;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 3;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
  cursor: auto;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-form {
  /* Text field group */
}
.modal-form .modal-form-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-form .text-field-group {
  margin-bottom: 20px;
  text-align: left;
}
.modal-form .text-field-group li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal-form .text-field-group li:not(:last-of-type) {
  margin-bottom: 10px;
}
.modal-form .text-field-label {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form .text-field-wrapper {
  position: relative;
}
.modal-form .text-field {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-offset: 2px;
  color: #212121;
  outline-color: rgba(33, 150, 243, 0.6);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .text-field:hover, .modal-form .text-field:focus {
  border-color: #2196f3;
}
.modal-form .text-field:hover + .text-field-icon, .modal-form .text-field:focus + .text-field-icon {
  fill: #2196f3;
}
.modal-form .text-field.comment-field {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal-form .text-field.comment-field::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form .text-field.comment-field:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form .text-field.comment-field::placeholder {
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form .text-field-icon {
  position: absolute;
  top: 11px;
  left: 12px;
}

.accept-terms-wrapper {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.accept-terms-label {
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.accept-terms-label a {
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  outline-color: rgba(33, 149, 243, 0.4235294118);
}
.accept-terms-label .accept-terms-link {
  color: #2196f3;
  text-decoration: underline;
}
.accept-terms-label .checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.accept-terms-label .checkbox:focus, .accept-terms-label .checkbox:hover {
  outline: 2px solid rgba(33, 150, 243, 0.6);
  outline-offset: 1px;
}
.accept-terms-label .checkbox:checked {
  border-color: transparent;
  background-origin: border-box;
  background-color: #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.796 7.172-3.3 3.146-.188-.18a278.251 278.251 0 0 0-2.411-2.291c-.017-.007-.864.782-.878.817-.006.017 2.977 2.88 3.357 3.223l.126.114 3.748-3.576 3.748-3.576-.326-.313c-.368-.355-.538-.509-.56-.509-.008 0-1.5 1.415-3.316 3.145' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.accept-terms-label .modal-submit-button {
  padding: 10px 52px;
}
.accept-terms-label .modal-close-button {
  position: fixed;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.accept-terms-label .modal-close-button:hover, .accept-terms-label .modal-close-button:focus {
  color: #2196f3;
}

/* Footer */
.footer {
  text-align: left;
  padding: 60px 0;
  color: #fff;
  background-color: #2f303a;
}
.footer .container {
  gap: 70px;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-address-list li {
  min-width: 231px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.footer-address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Subscribe Form */
.subscribe {
  flex-grow: 1;
}

.subscribe-form .subscribe-wrapper {
  display: flex;
  gap: 12px;
  width: 100%;
}
.subscribe-form .text-field {
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: currentColor;
  padding: 15px 16px;
  flex-grow: 1;
}
.subscribe-form .text-field:hover, .subscribe-form .text-field:focus, .subscribe-form .text-field:active {
  border-color: #2196f3;
  outline: none;
}
.subscribe-form .text-field::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form .text-field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form .text-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form .footer-submit-button {
  padding: 13px 28px;
}/*# sourceMappingURL=main.css.map */