/* My CSS Normalize */
:root {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* My defaults */
html {
  scroll-behavior: smooth;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

address {
  font-style: normal;
}

img {
  display: block;
}

/* Variables */
.flex.regular-gap, .regular-gap.subscribe-form-button, .footer .regular-gap.container, .regular-gap.nav-list,
.regular-gap.contact-list, .header .regular-gap.container, .regular-gap.social-links, .project-cards {
  gap: 30px;
}
.flex.regular-spacing, .regular-spacing.subscribe-form-button, .footer .regular-spacing.container, .regular-spacing.nav-list,
.regular-spacing.contact-list, .header .regular-spacing.container, .regular-spacing.social-links, .regular-spacing.project-cards {
  gap: 20px;
}
.flex.large-spacing, .large-spacing.subscribe-form-button, .footer .large-spacing.container, .large-spacing.nav-list,
.large-spacing.contact-list, .header .large-spacing.container, .large-spacing.social-links, .large-spacing.project-cards {
  gap: 44px;
}
.flex.spaced-list, .subscribe-form-button, .footer .spaced-list.container, .footer .container.subscribe-form-button, .spaced-list.nav-list,
.spaced-list.contact-list, .header .spaced-list.container, .header .container.subscribe-form-button, .social-links, .spaced-list.project-cards {
  gap: 10px;
}

.header-nav,
.header-contacts {
  gap: 50px;
}

/* Utility classes */
.markup-list, .address-list, .nav-list,
.contact-list, .social-links, .project-cards, .filter-buttons {
  list-style: none;
}

.flex, .subscribe-form-button, .footer .container, .nav-list,
.contact-list, .header .container, .social-links, .project-cards {
  display: flex;
}
.flex.column, .column.subscribe-form-button, .footer .column.container, .column.nav-list,
.column.contact-list, .header .column.container, .column.social-links, .column.project-cards {
  flex-direction: column;
}
.flex.space-between, .space-between.subscribe-form-button, .footer .space-between.container, .space-between.nav-list,
.space-between.contact-list, .header .space-between.container, .space-between.social-links, .space-between.project-cards {
  justify-content: space-between;
}
.flex.space-around, .space-around.subscribe-form-button, .footer .space-around.container, .space-around.nav-list,
.space-around.contact-list, .header .space-around.container, .space-around.social-links, .space-around.project-cards {
  justify-content: space-around;
}
.flex.justify-center, .justify-center.subscribe-form-button, .footer .justify-center.container, .justify-center.nav-list,
.justify-center.contact-list, .header .justify-center.container, .social-links, .justify-center.project-cards {
  justify-content: center;
}
.flex.justify-end, .justify-end.subscribe-form-button, .footer .justify-end.container, .justify-end.nav-list,
.justify-end.contact-list, .header .justify-end.container, .justify-end.social-links, .justify-end.project-cards {
  justify-content: end;
}
.flex.align-center, .subscribe-form-button, .footer .align-center.container, .footer .container.subscribe-form-button, .align-center.nav-list,
.align-center.contact-list, .header .container, .align-center.social-links, .align-center.project-cards {
  align-items: center;
}
.flex.align-end, .align-end.subscribe-form-button, .footer .align-end.container, .align-end.nav-list,
.align-end.contact-list, .header .align-end.container, .align-end.social-links, .align-end.project-cards {
  align-items: end;
}
.flex.align-baseline, .align-baseline.subscribe-form-button, .footer .align-baseline.container, .align-baseline.nav-list,
.align-baseline.contact-list, .header .align-baseline.container, .align-baseline.social-links, .align-baseline.project-cards {
  align-items: baseline;
}
.flex.wrap, .wrap.subscribe-form-button, .footer .wrap.container, .wrap.nav-list,
.wrap.contact-list, .header .wrap.container, .wrap.social-links, .project-cards {
  flex-wrap: wrap;
}
.flex.regular-gap, .regular-gap.subscribe-form-button, .footer .regular-gap.container, .regular-gap.nav-list,
.regular-gap.contact-list, .header .regular-gap.container, .regular-gap.social-links, .project-cards {
  gap: 30px;
}
.flex.regular-spacing, .regular-spacing.subscribe-form-button, .footer .regular-spacing.container, .regular-spacing.nav-list,
.regular-spacing.contact-list, .header .regular-spacing.container, .regular-spacing.social-links, .regular-spacing.project-cards {
  gap: 20px;
}
.flex.large-spacing, .large-spacing.subscribe-form-button, .footer .large-spacing.container, .large-spacing.nav-list,
.large-spacing.contact-list, .header .large-spacing.container, .large-spacing.social-links, .large-spacing.project-cards {
  gap: 44px;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.underlined {
  text-decoration: underline;
}

.outline {
  outline: auto;
}

.frame {
  outline: 1px solid steelblue;
}

.black {
  color: black;
}

.white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Common properties */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
}

.container, .footer .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page {
  text-align: center;
}

/* Sections other than hero */
.section, .projects {
  padding: 94px 0;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.caption, .project-card-meta {
  padding: 30px 0;
  font-size: 16px;
}
.caption p, .project-card-meta p {
  color: #757575;
}

/* Page PORTFOLIO */
.filter-buttons {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  font-weight: 500;
  line-height: 1.625;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f5f4fa;
  color: #212121;
}
.filter-button:hover, .filter-button:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.project-card {
  background: #fff;
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.project-card:hover, .project-card:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-card-link {
  color: inherit;
  text-decoration: none;
  text-align: left;
}

.project-card-thumb {
  position: relative;
  overflow: hidden;
}

.project-card-meta {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
}

.project-description {
  font-size: 18px;
  line-height: 1.5555555556;
  color: #fff;
  padding: 63px 24px;
  opacity: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 200ms;
}
.project-card:hover .project-description, .project-card:focus .project-description {
  opacity: 1;
}

.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.project-card:hover .thumb-overlay {
  transform: translateY(0);
}

/* Links */
.link, .address-link, .nav-link,
.contact-link, .social-links__link, .footer-logo, .header-logo {
  text-decoration: none;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.link:hover, .address-link:hover, .nav-link:hover,
.contact-link:hover, .social-links__link:hover, .footer-logo:hover, .header-logo:hover, .link:focus, .address-link:focus, .nav-link:focus,
.contact-link:focus, .social-links__link:focus, .footer-logo:focus, .header-logo:focus, .link.current, .current.address-link, .current.nav-link,
.current.contact-link, .current.social-links__link, .current.footer-logo, .current.header-logo {
  color: #2196f3;
}

/* Logos */
.footer-logo, .header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  display: block;
  color: #2196f3;
}

/* SVG icons */
.icon, .subscribe-button-icon, .contact-icon, .social-links__icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.rotatable, .social-links__icon {
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 10ms;
}
.icon-transformable:hover .rotatable, .icon-transformable:hover .social-links__icon, .social-links__link:hover .rotatable, .social-links__link:hover .social-links__icon, .icon-transformable:focus .rotatable, .icon-transformable:focus .social-links__icon, .social-links__link:focus .rotatable, .social-links__link:focus .social-links__icon {
  transform: rotate(360deg);
}

/* Buttons */
.button, .accented-button, .subscribe-form-button, .filter-button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.accented-button, .subscribe-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.accented-button:hover, .subscribe-form-button:hover, .accented-button:focus, .subscribe-form-button:focus {
  background-color: #188ce8;
}

/* Social media links (icons styled separately) */
.social-links__link {
  color: #afb1b8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-links__link {
  background: rgba(255, 255, 255, 0.1);
}
.social-links__link:hover, .social-links__link:focus {
  color: #fff;
  background-color: #2196f3;
}

.footer .social-links__icon {
  fill: #fff;
}

/* Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header-logo {
  margin-right: 93px;
}
.header-logo span {
  color: #000;
}

.nav-list,
.contact-list {
  gap: 50px;
}

.nav-link,
.contact-link {
  padding: 32px 0;
  letter-spacing: 0.02em;
}

.nav-link {
  color: #212121;
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(1px);
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.contact-list {
  margin-left: auto;
}

.contact-link {
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Footer */
.footer {
  text-align: left;
  padding: 60px 0;
  color: #fff;
  background-color: #2f303a;
}
.footer .container {
  gap: 70px;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-logo span {
  color: #fff;
}

.address-list-item {
  min-width: 231px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-heading {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-block-wrapper {
  flex-grow: 1;
}

.subscribe-form-elements {
  display: flex;
  gap: 12px;
  width: 100%;
}

.subscribe-form-input {
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: 2px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: currentColor;
  padding: 15px 16px;
  flex-grow: 1;
}
.subscribe-form-input:hover, .subscribe-form-input:focus, .subscribe-form-input:active {
  border-color: #2196f3;
}
.subscribe-form-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-button {
  padding: 13px 28px;
}/*# sourceMappingURL=portfolio.css.map */