/* My CSS Normalize */
:root {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* My defaults */
html {
  scroll-behavior: smooth;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

address {
  font-style: normal;
}

img {
  display: block;
}

/* Variables */
.flex.regular-gap, .subscribe-form .regular-gap.footer-submit-button, .footer .regular-gap.container, .regular-gap.header-contacts, .regular-gap.header-nav, .header .regular-gap.container, .regular-gap.social-links, .project-cards {
  gap: 30px;
}
.flex.regular-spacing, .subscribe-form .regular-spacing.footer-submit-button, .footer .regular-spacing.container, .regular-spacing.header-contacts, .regular-spacing.header-nav, .header .regular-spacing.container, .regular-spacing.social-links, .regular-spacing.project-cards {
  gap: 20px;
}
.flex.large-spacing, .subscribe-form .large-spacing.footer-submit-button, .footer .large-spacing.container, .large-spacing.header-contacts, .large-spacing.header-nav, .header .large-spacing.container, .large-spacing.social-links, .large-spacing.project-cards {
  gap: 44px;
}
.flex.spaced-list, .subscribe-form .footer-submit-button, .footer .spaced-list.container, .spaced-list.header-contacts, .spaced-list.header-nav, .header .spaced-list.container, .social-links, .spaced-list.project-cards {
  gap: 10px;
}

.header-nav,
.header-contacts {
  gap: 50px;
}

/* Utility classes */
/* Remove markers in semantic ul's and ol's */
.markup-list, .footer-address-list, .header-contacts, .header-nav, .social-links, .project-cards, .filter-buttons {
  list-style: none;
}

/* Flex-boxes */
.flex, .subscribe-form .footer-submit-button, .footer .container, .header-contacts, .header-nav, .header .container, .social-links, .project-cards {
  display: flex;
}
.flex.column, .subscribe-form .column.footer-submit-button, .footer .column.container, .column.header-contacts, .column.header-nav, .header .column.container, .column.social-links, .column.project-cards {
  flex-direction: column;
}
.flex.space-between, .subscribe-form .space-between.footer-submit-button, .footer .space-between.container, .space-between.header-contacts, .space-between.header-nav, .header .space-between.container, .space-between.social-links, .space-between.project-cards {
  justify-content: space-between;
}
.flex.space-around, .subscribe-form .space-around.footer-submit-button, .footer .space-around.container, .space-around.header-contacts, .space-around.header-nav, .header .space-around.container, .space-around.social-links, .space-around.project-cards {
  justify-content: space-around;
}
.flex.justify-center, .subscribe-form .justify-center.footer-submit-button, .footer .justify-center.container, .justify-center.header-contacts, .justify-center.header-nav, .header .justify-center.container, .social-links, .justify-center.project-cards {
  justify-content: center;
}
.flex.justify-end, .subscribe-form .justify-end.footer-submit-button, .footer .justify-end.container, .justify-end.header-contacts, .justify-end.header-nav, .header .justify-end.container, .justify-end.social-links, .justify-end.project-cards {
  justify-content: end;
}
.flex.align-center, .subscribe-form .footer-submit-button, .footer .align-center.container, .align-center.header-contacts, .align-center.header-nav, .header .container, .align-center.social-links, .align-center.project-cards {
  align-items: center;
}
.flex.align-end, .subscribe-form .align-end.footer-submit-button, .footer .align-end.container, .align-end.header-contacts, .align-end.header-nav, .header .align-end.container, .align-end.social-links, .align-end.project-cards {
  align-items: end;
}
.flex.align-baseline, .subscribe-form .align-baseline.footer-submit-button, .footer .align-baseline.container, .align-baseline.header-contacts, .align-baseline.header-nav, .header .align-baseline.container, .align-baseline.social-links, .align-baseline.project-cards {
  align-items: baseline;
}
.flex.wrap, .subscribe-form .wrap.footer-submit-button, .footer .wrap.container, .wrap.header-contacts, .wrap.header-nav, .header .wrap.container, .wrap.social-links, .project-cards {
  flex-wrap: wrap;
}
.flex.regular-gap, .subscribe-form .regular-gap.footer-submit-button, .footer .regular-gap.container, .regular-gap.header-contacts, .regular-gap.header-nav, .header .regular-gap.container, .regular-gap.social-links, .project-cards {
  gap: 30px;
}
.flex.regular-spacing, .subscribe-form .regular-spacing.footer-submit-button, .footer .regular-spacing.container, .regular-spacing.header-contacts, .regular-spacing.header-nav, .header .regular-spacing.container, .regular-spacing.social-links, .regular-spacing.project-cards {
  gap: 20px;
}
.flex.large-spacing, .subscribe-form .large-spacing.footer-submit-button, .footer .large-spacing.container, .large-spacing.header-contacts, .large-spacing.header-nav, .header .large-spacing.container, .large-spacing.social-links, .large-spacing.project-cards {
  gap: 44px;
}

/* Other */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.underlined {
  text-decoration: underline;
}

/* For testing */
.outline {
  outline: auto;
}

.frame {
  outline: 1px solid steelblue;
}

/* Colors */
.black {
  color: black;
}

.white {
  color: white;
}

/* Letter case */
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

/* Common properties */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
}

.container, .footer .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page {
  text-align: center;
}

/* Sections other than hero */
.section {
  padding: 94px 0;
}
.section h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

/* Card captions */
.caption {
  padding: 30px 0;
  font-size: 16px;
}
.caption p {
  color: #757575;
}

/* Page PORTFOLIO */
/* 'Filter' buttons */
.filter-buttons {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  font-weight: 500;
  line-height: 1.625;
  padding: 6px 22px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  background-color: #f5f4fa;
  color: #212121;
}
.filter-button:hover, .filter-button:focus {
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
}

/* Project cards */
.project-card {
  background: #fff;
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.project-card:hover, .project-card:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.project-card a {
  color: inherit;
  text-decoration: none;
  text-align: left;
}
.project-card .caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project-card .caption h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-card .caption p {
  font-size: 16px;
  line-height: 1.88;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.description {
  font-size: 18px;
  line-height: 1.5555555556;
  color: #fff;
  padding: 63px 24px;
  opacity: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 200ms;
}
.project-card:hover .description, .project-card:focus .description {
  opacity: 1;
}

.thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.project-card:hover .thumb-overlay {
  transform: translateY(0);
}

/* Links */
.link, .social-link, .footer-logo, .header-logo {
  text-decoration: none;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.header-nav .link, .header-nav .social-link, .header-nav .footer-logo, .header-nav .header-logo {
  color: #212121;
}
.contact .link, .contact .social-link, .contact .footer-logo, .contact .header-logo {
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .link:not(.footer-logo):not(.header-logo), .footer .social-link:not(.footer-logo):not(.header-logo), .footer .footer-logo:not(.footer-logo):not(.header-logo), .footer .header-logo:not(.footer-logo):not(.header-logo) {
  color: rgba(255, 255, 255, 0.6);
}
.link:hover, .social-link:hover, .footer-logo:hover, .header-logo:hover, .link:focus, .social-link:focus, .footer-logo:focus, .header-logo:focus, .link.current, .current.social-link, .current.footer-logo, .current.header-logo {
  color: #2196f3;
}

/* Logos */
.footer-logo, .header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  display: block;
  color: #2196f3;
}

.header-logo span {
  color: #000;
}

.footer-logo span {
  color: #fff;
}

/* SVG icons */
.icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.footer .social-link .icon {
  fill: #fff;
}

.rotatable {
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 10ms;
}
.icon-transformable:hover .rotatable, .social-link:hover .rotatable, .icon-transformable:focus .rotatable, .social-link:focus .rotatable {
  transform: rotate(360deg);
}

/* Buttons */
.button, .accented-button, .subscribe-form .footer-submit-button, .filter-button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.accented-button, .subscribe-form .footer-submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.accented-button:hover, .subscribe-form .footer-submit-button:hover, .accented-button:focus, .subscribe-form .footer-submit-button:focus {
  background-color: #188ce8;
}

/* Social media links */
/* (icons styled separately) */
.social-link {
  color: #AFB1B8;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-link {
  background: rgba(255, 255, 255, 0.1);
}
.social-link:hover, .social-link:focus {
  color: #fff;
  background-color: #2196f3;
}

/* Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header-logo {
  margin-right: 93px;
}
.header-contacts {
  margin-left: auto;
}

.header-nav .link, .header-nav .header-logo, .header-nav .footer-logo, .header-nav .social-link, .header-contacts .link, .header-contacts .header-logo, .header-contacts .footer-logo, .header-contacts .social-link {
  padding: 32px 0;
  letter-spacing: 0.02em;
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(1px);
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* Footer */
.footer {
  text-align: left;
  padding: 60px 0;
  color: #fff;
  background-color: #2f303a;
}
.footer .container {
  gap: 70px;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-address-list li {
  min-width: 231px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.footer-address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Subscribe Form */
.subscribe {
  flex-grow: 1;
}

.subscribe-form .subscribe-wrapper {
  display: flex;
  gap: 12px;
  width: 100%;
}
.subscribe-form .text-field {
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: currentColor;
  padding: 15px 16px;
  flex-grow: 1;
}
.subscribe-form .text-field:hover, .subscribe-form .text-field:focus, .subscribe-form .text-field:active {
  border-color: #2196f3;
  outline: none;
}
.subscribe-form .text-field::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form .text-field:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form .text-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form .footer-submit-button {
  padding: 13px 28px;
}/*# sourceMappingURL=portfolio.css.map */