/* SVG icons */

.icon {
	display: block;
	fill: $icon-inactive;

	.contact & {
		height: 16px;
		fill: #757575;

		.link:hover & {
			fill: $accent;
		}
	}
}

#icon-envelope {
	height: 16px;
}

.social-link {

	& .icon {
		width: 20px;
		height: 20px;

		.footer & {
			fill: $contrast;
		}
	}

	&:hover .icon {
		fill: $contrast;
	}
}