/* SVG icons */

.icon {
	display: block;
	fill: $icon-inactive;

	.contact & {
		height: 16px;
		fill: #757575;

		.link:hover & {
			fill: $accent;
		}
	}

	.social-link & {
		width: 20px;
		height: 20px;
	}
}

#icon-envelope {
	height: 16px;
}

.social-link:hover .icon {
	fill: $contrast;
}