/* SVG icons */

.icon {
	// display: block;
	fill: currentColor;
}

.social-link {

	& .icon {
		width: 20px;
		height: 20px;

		.footer & {
			fill: $contrast;
		}
	}

	&:hover .icon {
		fill: $contrast;
	}
}