/* Common properties */

body {
	font-family: "Roboto",
		sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;

	color: $dark-gray-text;
	background-color: $light-bg;
}

.container {
	width: (1600px - 215px*2 + 15px*2);
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.page {
	text-align: center;
}

/* Links */

.link {
	text-decoration: none;
	font-weight: 500;

	transition: color $transition-duration $transition-timing-function;

	.header-nav & {
		color: $dark-gray-text;
	}

	.contact & {
		color: $light-gray-text;
		display: flex;
		align-items: center;
		gap: $list-spacing;
	}

	.footer & {
		color: rgba(255, 255, 255, 0.6);
	}

	&:hover,
	&:focus,
	&.current {
		color: $accent;
	}
}

/* Logos */

.logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	display: block;
	color: $accent;

	&.black span {
		color: #000;
	}

	&.white span {
		color: $contrast;
	}
}

/* Buttons */

.button {
	border: none;
	border-radius: 4px;
	font-size: 16px;
}

.accented-button {
	background-color: $accent;
	color: $contrast;
	// color: currentColor;

	font-weight: 700;
	font-size: 16px;
	line-height: calc(30/16);
	letter-spacing: 0.06em;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

/* Header */

.header {
	background-color: $light-bg;
	border-bottom: 1px solid $header-border;

	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	.logo {
		margin-right: 93px;
	}
}

.header-contacts {
	margin-left: auto;
}

.link {

	.header-nav &,
	.header-contacts & {
		padding: 32px 0;
		letter-spacing: 0.02em;
	}
}

.current {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		//to make up for header bottom border
		transform: translateY(1px);

		width: 100%;
		height: 4px;

		background: $accent;
		border-radius: 2px;
	}
}

/* Sections other than hero */

.section {
	padding: 94px 0;

	h2 {
		font-size: 36px;
		font-weight: 700;
		margin-bottom: 50px;
	}
}

// /* Images */

//  img {
// 	display: block;
// 	max-width: 100%;
// 	height: auto;
// } 

/* Card captions */

.caption {
	padding: 30px 0;
	font-size: 16px;

	p {
		color: $light-gray-text;
	}
}

/* SVG icons */

.icon {
	fill: currentColor;
	// transition: fill $transition-duration $transition-timing-function;

	.social-link & {

		.footer & {
			fill: $contrast;
		}

		// &:hover .icon,
		// &:focus .icon {
		// 	fill: $contrast;
		// }
	}
}

.rotatable {
	transition: transform 200ms ease-in-out 10ms;

	.icon-transformable:hover &,
	.icon-transformable:focus & {
		transform: rotate(360deg);
		// animation: iconScroll 2500ms;
	}
}

// @keyframes iconScroll {
// 	0% {
// 		transform: translate(0, -200%);
// 	}

// 	50% {
// 		transform: translate(0, 100%);
// 	}

// 	100% {
// 		transform: translate(0, 200%);
// 	}
// }

/* Social media links */
/* (icons styled separately) */

.social-link {
	color: $link-inactive;
	height: 44px;
	width: 44px;
	// border: none;
	border-radius: 50%;

	transition:
		color $transition-duration $transition-timing-function,
		background-color $transition-duration $transition-timing-function;

	display: flex;
	justify-content: center;
	align-items: center;

	.footer & {
		background: rgba(255, 255, 255, 0.1);
	}

	&:hover,
	&:focus {
		color: $contrast;
		background-color: $accent;
	}
}

/* Footer */

.footer {
	text-align: left;
	padding: 60px 0;

	color: $contrast;
	background-color: $dark-bg;

	.logo {
		margin-bottom: $regular-spacing;
	}

	address {
		font-style: normal;

		li {
			min-width: 231px;
			line-height: calc(24/14);
			letter-spacing: 0.03em;

			&:not(:last-child) {
				margin-bottom: 9px;
			}
		}
	}
}

.footer-title {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: $regular-spacing;
}

.footer-container {
	gap: $footer-items-spacing;
	align-items: baseline;
}

.footer-submit-button {
	padding: 10px 28px;
}

// Subscribe

.subscribe {
	flex-grow: 1;
}

.subscribe-form {

	.subscribe-wrapper {
		display: flex;
		gap: 12px;
		width: 100%;
	}

	.text-field {

		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
		background-color: inherit;

		padding: 15px 16px;

		flex-grow: 1;

		&::placeholder {
			font-size: 16px;
			line-height: calc(20/16);
			letter-spacing: 0.03em;
			color: rgba(255, 255, 255, 0.6);
		}
	}

	.footer-submit-button {
		padding: 13px 28px;
	}
}