/* Page STUDIO */

/* Hero */

.hero {
	text-align: center;

	& .container {
		padding: 200px 0;
	}

	& h1 {
		font-weight: 900;
		font-size: 44px;
		line-height: calc(60/44);
		letter-spacing: 0.06em;
		text-transform: uppercase;

		width: 700px;
		margin: 0 auto;
		margin-bottom: 30px;

		color: $contrast;
	}
}

.overlay {
	max-width: 1600px;
	height: 600px;
	margin: 0 auto;

	background-color: $gray-bg;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero.jpg);
	background-position: center;
	background-size: cover;
}

.button {

	&.hero-button {
		font-weight: 700;
		letter-spacing: 0.06em;
		line-height: 1.88;
		padding: 10px 32px;

		background: $accent;
		color: $contrast;

		&:hover,
		&:focus {
			background: $accent-darker;
		}

		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}
}

/* Features */

.section.features {
	padding-bottom: 0;
}

.feature {
	text-align: left;
	flex-basis: 270px;

	& h3 {
		font-size: inherit;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	& p {
		line-height: calc(24/14);
		color: $light-gray-text;
	}

	// &:before {
	// 	display: block;
	// 	content: '';
	// 	height: 120px;
	// border-radius: 4px;
	// 	margin-bottom: 30px;
	// 	background-color: $mid-bg;
	// 	background-position: center;
	// 	background-repeat: no-repeat;
	// }

	// &:nth-child(1):before {
	// 	background-image: url(../images/studio/radar.png);
	// }

	// &:nth-child(2):before {
	// 	background-image: url(../images/studio/clock.png);
	// }

	// &:nth-child(3):before {
	// 	background-image: url(../images/studio/diagram.png);
	// }

	// &:nth-child(4):before {
	// 	background-image: url(../images/studio/astronaut.png);
	// }
}

.feature-icon-wrapper {
	background-color: $mid-bg;
	border-radius: 4px;
	padding: 25px 100px;
	margin-bottom: 30px;
}

.feature-icon {
	height: 70px;
	width: 70px;
}

/* Out Team */

.section.team {
	background: $mid-bg;
}

.team-card {
	border-radius: 0px 0px 4px 4px;
	background: $light-bg;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);

	& h3 {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	& p {
		margin-bottom: 16px;
	}
}

/* Regular Clients */

.clients {
	& h2 {
		margin-bottom: $large-spacing;
	}
}

// .client {
// 	display: flex;
// 	align-items: center;
// }

.client-link {
	display: block;
	// height: 60px;
	// width: 106px;
	padding: 16px 32px;

	// width: 170px;
	// height: 92px;

	border: 1px solid #AFB1B8;
	border-radius: 4px;

	color: $link-inactive;

	&:hover,
	&:focus {
		color: $accent;
		border-color: $accent;
	}
}