/* Variables */

// Colors

// Accent
$accent: #2196f3;
$accent-darker: #188ce8;
$contrast: #fff;

// Text 
$dark-gray-text: #212121;
$light-gray-text: #757575;

// Background
$light-bg: #fff;
$mid-bg: #f5f4fa;
$gray-bg: #C4C4C4;
$dark-bg: #2f303a;
$activity-overlay: rgba(47, 48, 58, 0.8);

// SVG
$link-inactive: #AFB1B8;

// Borders
$header-border: #ececec;
$project-border: #eeeeee;

// Flex gap values 
$regular-gap: 30px;
$regular-spacing: 20px;
$large-spacing: 44px;
$list-spacing: 10px;
$header-items-spacing: 50px;
$footer-items-spacing: 70px;

// For 'flex-basis' calculation
$items-per-row: 3;
$spacing: $regular-gap;
$number-of-gaps: $items-per-row - 1;

.flex {

	&.regular-gap {
		gap: $regular-gap;
	}

	&.regular-spacing {
		gap: $regular-spacing;
	}

	&.large-spacing {
		gap: $large-spacing;
	}

	&.spaced-list {
		gap: $list-spacing;
	}
}

.header-nav,
.header-contacts {
	gap: $header-items-spacing;
}