/* Buttons */

.button {
	border: none;
	border-radius: $standard-radius;
	font-size: 16px;
}

.accented-button {
	@extend .button;

	font-weight: 700;
	font-size: 16px;
	line-height: calc(30/16);
	letter-spacing: 0.06em;

	background-color: $accent;
	color: $contrast;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	border-radius: $standard-radius;

	// transition: background-color $transition-duration $transition-timing-function;
	@include transition(background-color);

	&:hover,
	&:focus {
		background-color: $accent-darker;
	}
}