/* Footer */

.footer {
	text-align: left;
	padding: 60px 0;

	color: $contrast;
	background-color: $dark-bg;

	.container {
		@extend .flex-container;

		gap: $footer-items-spacing;
		align-items: baseline;
	}

	&-logo {
		margin-bottom: $regular-spacing;
	}

	&-address {

		li {
			min-width: 231px;
			line-height: calc(24/14);
			letter-spacing: 0.03em;

			&:not(:last-child) {
				margin-bottom: 9px;
			}
		}
	}

	&-title {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: $regular-spacing;
	}

	&-submit-button {
		padding: 10px 28px;
	}
}