/* Logos */

.logo {
	@extend .link;

	font-family: $secondary-font;
	font-size: 26px;
	font-weight: 700;
	display: block;

	color: $accent;
}

.header-logo {
	@extend .logo;

	& span {
		color: #000;
	}
}

.footer-logo {
	@extend .logo;

	& span {
		color: $contrast;
	}
}