/* Social media links */
/* (icons styled separately) */

.social-links {
	@extend .markup-list, .flex, .spaced-list, .justify-center;
}

.social-link {
	@extend .link, .icon-transformable;

	color: $link-inactive;
	height: 44px;
	width: 44px;
	// border: none;
	border-radius: 50%;

	@include transition(color);
	@include transition(background-color);

	display: flex;
	justify-content: center;
	align-items: center;

	.footer & {
		background: rgba(255, 255, 255, 0.1);
	}

	&:hover,
	&:focus {
		color: $contrast;
		background-color: $accent;
	}
}