/* Common properties */

body {
	font-family: $primary-font;
	font-size: $primary-font-size;
	letter-spacing: 0.03em;

	color: $dark-gray-text;
	background-color: $light-bg;

	min-width: 280px;

	&.scroll-locked {
		overflow: hidden;
	}
}

.page {
	text-align: center;
}

.container {
	padding-left: $container-padding;
	padding-right: $container-padding;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $mobile) {
		width: $mobile;
	}

	@media screen and (min-width: $tablet) {
		width: $tablet;
	}

	@media screen and (min-width: $desktop) {
		width: $desktop;
	}
}

// Sections other than hero

.section {
	@media screen and (max-width: ($desktop - 1px)) {
		padding: $regular-gap * 2 0;
	}

	@media screen and (min-width: $desktop) {
		padding: 94px 0;
	}
}

.section-heading {
	font-weight: 700;

	@media screen and (max-width: ($desktop - 1px)) {
		font-size: 28px;
		margin-bottom: $regular-gap;
	}

	@media screen and (min-width: $desktop) {
		font-size: 36px;
		margin-bottom: 50px;
	}
}

// Card captions/meta

.caption {
	padding: 30px 0;
	font-size: 16px;

	p {
		color: $light-gray-text;
	}
}
