/* Page STUDIO */

/* Hero section */

.hero {
	text-align: center;
	color: $contrast;

	& .container {
		padding: 200px 0;
	}
}

.hero-overlay {
	max-width: 1600px;
	height: 600px;
	margin: 0 auto;

	background-color: $gray-bg;
	background-image: linear-gradient(to right, $overlay-color, $overlay-color),
		url(../images/studio/hero.jpg);
	background-position: center;
	background-size: cover;
}

.hero-heading {
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	letter-spacing: 0.06em;
	text-transform: uppercase;

	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.hero-button {
	@extend .accented-button;

	padding: 10px 32px;
	// color: currentColor;
}

/* Features section */

.features {
	@extend .section;
	padding-bottom: 0;
}

.feature-list {
	@extend .markup-list, .flex, .space-between;
}

.feature {
	text-align: left;
	flex-basis: 270px;
}

.feature-icon-wrapper {
	@extend %flex-centered;

	width: 270px;
	height: 120px;
	margin-bottom: 30px;

	background-color: $mid-bg;
	border-radius: $standard-radius;
}

.feature-name {
	font-size: inherit;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.feature-description {
	line-height: calc(24 / 14);
	color: $light-gray-text;
}

/* What We Do section */

.what-we-do {
	@extend .section;
}

.activity-list {
	@extend .markup-list, .flex, .space-between;
}

.activity {
	position: relative;
}

.activity-caption {
	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	padding: 27px 0;

	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: $contrast;
	background-color: rgba($dark-bg, 0.8);
}

/* Out Team section */

.team {
	@extend .section;
	background: $mid-bg;
}

.team-cards-list {
	@extend .markup-list, .flex, .space-between;
}

.team-card {
	border-radius: 0px 0px 4px 4px;
	background: $light-bg;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
}

// Team card meta

.team-card-meta {
	@extend .caption;
}

.team-member-name {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.team-member-role {
	margin-bottom: 16px;
}

/* Regular Clients section */

.clients {
	@extend .section;

	& .section-heading {
		margin-bottom: $large-spacing;
	}
}

.client-list {
	@extend .markup-list, .flex, .space-between;
}

.client-link {
	@extend .link;
	@extend %flex-centered;

	width: 170px;
	height: 92px;

	color: $link-inactive;
	border: 1px solid currentColor;
	border-radius: $standard-radius;

	&:hover,
	&:focus {
		color: $accent;
	}
}

.client-icon {
	@extend .icon;
}

// ...
