/* Page STUDIO */

/* Hero section */

.hero {
	text-align: center;
	color: $contrast;

	& .container {
		padding: 200px 0;
	}

	& h1 {
		font-weight: 900;
		font-size: 44px;
		line-height: calc(60/44);
		letter-spacing: 0.06em;
		text-transform: uppercase;

		width: 700px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
}

.overlay {
	max-width: 1600px;
	height: 600px;
	margin: 0 auto;

	background-color: $gray-bg;
	background-image: linear-gradient(to right, $overlay-color, $overlay-color), url(../images/studio/hero.jpg);
	background-position: center;
	background-size: cover;
}

.hero-button {
	@extend .accented-button;

	padding: 10px 32px;
	// color: currentColor;
}

/* Features section */

.features {
	@extend .section;
	padding-bottom: 0;
}

.features-list {
	@extend .markup-list, .flex, .space-between;
}

.feature {
	text-align: left;
	flex-basis: 270px;

	& h3 {
		font-size: inherit;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	& p {
		line-height: calc(24/14);
		color: $light-gray-text;
	}
}

.feature-icon-wrapper {
	display: flex;
	align-items: center;

	width: 270px;
	height: 120px;
	margin-bottom: 30px;

	background-color: $mid-bg;
	border-radius: $standard-radius;
}

/* What We Do section */

.what-we-do {
	@extend .section;
}

.activities-list {
	@extend .markup-list, .flex, .space-between;
}

.activity-wrapper {
	position: relative;
}

.activity-caption {
	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	padding: 27px 0;

	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: $contrast;
	background-color: rgba($dark-bg, 0.8);
}

/* Out Team section */

.team {
	@extend .section;
	background: $mid-bg;
}

.team-cards-list {
	@extend .markup-list, .flex, .space-between;
}

.team-card {
	border-radius: 0px 0px 4px 4px;
	background: $light-bg;

	box-shadow:
		0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);

	& h3 {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	& p {
		margin-bottom: 16px;
	}
}

/* Regular Clients section */

.clients {
	@extend .section;
}

.clients-list {
	@extend .markup-list, .flex, .space-between;

	& h2 {
		margin-bottom: $large-spacing;
	}
}

.client-link {
	@extend .link;
	@extend %flex-centered;

	width: 170px;
	height: 92px;

	color: $link-inactive;
	border: 1px solid currentColor;
	border-radius: $standard-radius;

	&:hover,
	&:focus {
		color: $accent;
	}
}