/* Page STUDIO */

/* Hero section */

.hero {
	color: $contrast;

	& .container {
		@media screen and (max-width: ($desktop - 1)) {
			padding: 118px 0;
		}

		@media screen and (min-width: $desktop) {
			padding: 200px 0;
		}
	}
}

.hero-overlay {
	margin-left: auto;
	margin-right: auto;

	min-height: 400px;

	@media screen and (min-width: $desktop) {
		min-height: 600px;
		max-width: $desktop;
	}

	background-color: $gray-bg;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	// Mobile

	background-image: linear-gradient(to right, $overlay-color, $overlay-color),
		url("../images/hero/header-bg-small.jpg");

	@media (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		background-image: linear-gradient(to right, $overlay-color, $overlay-color),
			url("../images/hero/header-bg-small@2x.jpg");
	}

	@media (min-device-pixel-ratio: 3),
		(min-resolution: 288dpi),
		(min-resolution: 3dppx) {
		background-image: linear-gradient(to right, $overlay-color, $overlay-color),
			url("../images/hero/header-bg-small@3x.jpg");
	}

	// Tablet

	@media screen and (min-width: ($mobile + 1px)) {
		//
		background-image: linear-gradient(to right, $overlay-color, $overlay-color),
			url("../images/hero/header-bg-medium.jpg");

		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: linear-gradient(
					to right,
					$overlay-color,
					$overlay-color
				),
				url("../images/hero/header-bg-medium@2x.jpg");
		}

		@media (min-device-pixel-ratio: 3),
			(min-resolution: 288dpi),
			(min-resolution: 3dppx) {
			background-image: linear-gradient(
					to right,
					$overlay-color,
					$overlay-color
				),
				url("../images/hero/header-bg-medium@3x.jpg");
		}
	}

	// Desktop

	@media screen and (min-width: ($tablet + 1px)) {
		//
		background-image: linear-gradient(to right, $overlay-color, $overlay-color),
			url("../images/hero/header-bg-large.jpg");

		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			background-image: linear-gradient(
					to right,
					$overlay-color,
					$overlay-color
				),
				url("../images/hero/header-bg-large@2x.jpg");
		}

		@media (min-device-pixel-ratio: 3),
			(min-resolution: 288dpi),
			(min-resolution: 3dppx) {
			background-image: linear-gradient(
					to right,
					$overlay-color,
					$overlay-color
				),
				url("../images/hero/header-bg-large@3x.jpg");
		}
	}
}

.hero-heading {
	font-family: "Roboto";
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.06em;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;

	@media screen and (max-width: ($desktop - 1)) {
		font-size: 26px;
		line-height: calc(42 / 26);
		max-width: 360px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 44px;
		line-height: calc(60 / 44);
		max-width: 700px;
	}
}

.hero-button {
	@extend .accented-button;

	padding: 10px 32px;
}

/* Features section */

.features {
	@extend .section;

	@media screen and (min-width: $desktop) {
		padding-bottom: 0;
	}
}

.feature-list {
	@extend .markup-list, .flex, .wrap;
	gap: $regular-gap;
}

.feature {
	text-align: left;

	@include flex-basis-mob-tab-desk(1, 2, 4);
}

.feature-icon-wrapper {
	height: 120px;
	width: 100%;
	margin-bottom: $regular-gap;

	background-color: $mid-bg;
	border-radius: $standard-radius;

	display: flex;
	align-items: center;
	justify-content: center;
}

.feature-name {
	font-size: inherit;
	text-transform: uppercase;
	margin-bottom: 10px;

	@media screen and (max-width: ($tablet - 1px)) {
		text-align: center;
	}
}

.feature-description {
	line-height: calc(24 / 14);
	color: $light-gray-text;
}

/* What We Do section */

.what-we-do {
	@extend .section;

	display: none;

	@media screen and (min-width: $desktop) {
		display: flex;
		justify-content: space-between;
	}
}

.activity-list {
	@extend .markup-list, .flex, .space-between;
}

.activity {
	position: relative;
}

.activity-caption {
	position: absolute;
	left: 0;
	bottom: 0;

	width: 100%;
	padding: 27px 0;

	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: $contrast;
	background-color: rgba($dark-bg, 0.8);
}

/* Out Team section */

.team {
	@extend .section;
	background: $mid-bg;
}

.team-cards-list {
	@extend .markup-list, .flex, .wrap;
	gap: $regular-gap;
}

.team-card {
	border-radius: 0px 0px 4px 4px;
	background: $light-bg;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);

	@include flex-basis-mob-tab-desk(1, 2, 4);
}

// .team-card-photo {}

.team-card-meta {
	@extend .caption;
}

.team-member-name {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.team-member-role {
	margin-bottom: 16px;
}

/* Regular Clients section */

.clients {
	@extend .section;

	@media screen and (min-width: $tablet) {
		& .section-heading {
			margin-bottom: $large-spacing;
		}
	}
}

.client-list {
	@extend .markup-list, .flex;

	flex-wrap: wrap;
	gap: $regular-gap;
}

.client-list-item {
	// enter the number of items per row

	@include flex-basis-mob-tab-desk(2, 3, 6);
}

.client-link {
	@extend .link;
	@extend %flex-centered;
	// outline: auto;

	height: 92px;
	width: 100%;

	color: $link-inactive;
	border: 1px solid currentColor;
	border-radius: $standard-radius;

	&:hover,
	&:focus {
		color: $accent;
	}
}

.client-icon {
	@extend .icon;
}

// ...
