/* Variables */

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

// Spacings
$container-padding: 15px;
$desktop-version-margin: 215px;

$regular-gap: 30px;
$regular-spacing: 20px;
$large-spacing: 44px;
$list-spacing: 10px;

$header-items-spacing: 50px;
$header-items-spacing-mobile: 32px;
$footer-items-spacing: 70px;
// $single-margin-mobile: 30px;

// Fonts

$primary-font: "Roboto", sans-serif;
$primary-font-size: 14px;

$secondary-font: "Raleway", sans-serif;

// Colors

// All elements
$accent: #2196f3;
$accent-darker: #188ce8;
$contrast: #fff;

// Text
$dark-gray-text: #212121;
$light-gray-text: #757575;

// Background
$light-bg: #fff;
$mid-bg: #f5f4fa;
$gray-bg: #c4c4c4;
$dark-bg: #2f303a;
$overlay-color: rgba($dark-bg, 0.4);

// SVG
$link-inactive: #afb1b8;

// Borders
$header-border: #ececec;
$project-border: #eeeeee;

$standard-radius: 4px;

// Flex utility classes

.flex {
	&.regular-gap {
		gap: $regular-gap;
	}

	&.regular-spacing {
		gap: $regular-spacing;
	}

	&.large-spacing {
		gap: $large-spacing;
	}

	&.spaced-list {
		gap: $list-spacing;
	}
}

.header-nav,
.header-contacts {
	gap: $header-items-spacing;
}

// Transitions
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
